@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-img {
    background-image: url(./images/bg-intro-desktop.png);
}

@layer base {
    /* body {
        @apply font-body;
    } */

    .font-poppins {
        font-family: "Poppins", sans-serif;
        font-style: normal;
    }
}